Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/NorwayMaple
Content/PN_interactiveSpruceForest
Content/MedievalDungeon
/Content/AnimalVarietyPack
/Content/ControlRig/Characters/Mannequins
